{% comment %}
Social media meta tags
Make sure absolute_url prepends url and image paths
{% endcomment %}

<!-- Open Graph -->
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:image" content="{{ '/img/hero-768.jpg' | absolute_url }}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

<!-- Twitter card -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:image" content="{{ '/img/hero-768.jpg' | absolute_url }}">
<meta name="twitter:image:alt" content="Barista pouring coffee">