/**
 * Base
 * + Border box sizing
 * + Mobile- and tablet-width font sizes
 **/
 
html {
  box-sizing: border-box;
  font-size: $base-font-size;

  @media(min-width: $medium) {
    font-size: $medium-font-size;
  }
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: $serif;
  font-size: 1rem;
  line-height: $base-line-height;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include margin(0);
  @include padding(0);
  line-height: $header-line-height;
  text-align: center;
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }

h3 {
  font-weight: 700;
}

a {
  color: $blue;

  &:visited {
    color: darken($blue, 35%);
  }
}

ul {
  list-style-type: none;
  @include padding(0);
}

small,
time {
  font-size: $small-font-size;
}

time {
  display: block;
  text-align: center;
  font-style: italic;
}

img {
  width: 100%;
}