/**
 * Layout
 */

// Container width, max-width, auto L/R margin
@mixin container($max-width) {
  width: 100%;
  max-width: $max-width;
  @include margin(null auto);
}

// Container defaults
header {
  @include container(100%);
  @include padding($default-spacing);
}

article {
  @include container($large);
  @include padding($default-spacing * 3 $default-spacing);
}

form {
  @include container(100%);
  @include padding($default-spacing * 3 $default-spacing);
}

footer {
  display: none;
}

@media (min-width: $medium) {
  // Medium: Larger vert padding
  form,
  article {
    @include padding($default-spacing * 4 null);
  }
  
  // Medium: Show footer
  footer {
    display: block;
    @include container(100%);
    @include padding($default-spacing);
    background-color: $gray;
    text-align: center;
    line-height: 1;
  }

  // Medium: Change article order
  main {
    display: flex;
    flex-direction: column;
  }

  #hero      { order: 0; }
  #visit     { order: 3; }
  #events    { order: 4; }
  #about     { order: 1; }
  #contact   { order: 5; }
  #subscribe { order: 2; }
}


