/**
 * Background images, SVG icons and fallbacks
 */

// Navbar logo
header[role="banner"] .logo {
  display: block;
  width: 100%;
  height: 35px;
  @include margin($default-spacing null);
  background: url(/img/logo-color.png);
  background: url(/img/logo-color.svg) no-repeat, linear-gradient(transparent, transparent);
  float: left;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  min-height: 320px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ), url('/img/hero-768.jpg') no-repeat center center;
  background-size: cover;
}

a.icon-down-arrow {
  display: none;
}

ul.social li {
  width: $h1-font-size;
  height: $h1-font-size;
}

ul.social a {
  display: block;
}

ul.social a.twitter {
  content: url('/img/icon-twitter.png');
  content: url('/img/icon-twitter.svg');
}

ul.social a.facebook {
  content: url('/img/icon-facebook.png');
  content: url('/img/icon-facebook.svg');
}

ul.social a.instagram {
  content: url('/img/icon-instagram.png');
  content: url('/img/icon-instagram.svg');
}

@media (min-width: $medium) {
  // Medium: Change navbar logo
  header[role="banner"] .logo {
    height: 45px;
    background: url(/img/logo-inverse.png);
    background: url(/img/logo-inverse.svg) no-repeat, linear-gradient(transparent, transparent);
  }

  // Medium: Taller hero default
  // Medium: Bigger background image
  #hero {
    position: relative;
    min-height: $small;
    height: 100vh;
    
    background: linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ), url('/img/hero-1800.jpg') no-repeat center center;
    
    background-size: cover;
  }

  a.icon-down-arrow {
    position: absolute;
    top: 75%;
    left: 50%;
    display: block;
    width: 48px;
    content: url('/img/icon-down-arrow.svg');
    transform: translate(-50%,-75%);
  }
  
  // Bouncing icon animation
  a.icon-down-arrow {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
  
  @keyframes bounce {
    0%   { transform: translate(-50%, 15%); }
    50%  { transform: translate(-50%, 0);   }
    100% { transform: translate(-50%, 15%); }
  }
}