/**
 * Patterns
 **/

// .hero {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   height: 75vh;
//   min-height: 320px;
// }

// .visit h3 {
//   text-align: left;
// }

// .contact {
//   text-align: center;
// }

// .contact ul.social {
//   display: flex;
//   max-width: $small;
//   justify-content: space-between;
//   @include margin(null auto);
//   @include padding($default-spacing null)
// }

// Footer hidden on small displays
// footer {
//   display: none;
// }

// @media (min-width: $medium) {
  // // Change article order on $medium displays
  // main {
  //   display: flex;
  //   flex-direction: column;
  // }

  // .hero      { order: 0; }
  // .visit     { order: 3; }
  // .events    { order: 4; }
  // .about     { order: 1; }
  // .contact   { order: 5; }
  // .mailchimp { order: 2; }
  
  // Hero min-height
  // .hero {
  //   min-height: $small;
  // }
  
  // Offset relative position of .small-width children
  // .visit,
  // .events {
  //   @include padding(null null 0);
  // }

  // Small font-size on .location, .hours & .event-calendar
  // h3,
  // .location,
  // .hours,
  // .event-calendar {
  //   font-size: $small-font-size;
  //   line-height: 1.5;  
  // }

  // .visit .small-width {
  //   @include clearfix;

  //   .location { float: left;  }
  //   .hours    { float: right; }
  // }

  // Shift up .small-width children of .visit, .events
//   img + .small-width {
//     position: relative;
//     top: -$default-spacing * 3;
//     background-color: $white;
//   }

//   img + .small-width h2 {
//     @include padding($default-spacing null null)
//   }

//   // Show footer
//   footer {
//     display: block;
//     background-color: $gray;
//     text-align: center;
//     line-height: 1;
//   }
// }
