/**
 * Variables
 **/

// Default system font
// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$system-font-stack: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;

// Swift Neue loaded in separate stylesheet 
$serif: "Swift Neue LT W01", Georgia, "Times New Roman", serif;

// Typography
$base-font-size: 16px;
$medium-font-size: 18px;
$base-line-height: 2;
$header-line-height: 1.1;
$default-spacing: 1.25rem;
$small-font-size: 0.8rem;

$h1-font-size: 2rem;
$h2-font-size: 1.6rem; 
$h3-font-size: 1.3rem;

$default-input-height: $h1-font-size;

// Media queries
$small: 540px;
$medium: 768px;
$large: 1024px;

// MIP brand
$black: #0a0a0a;
$white: #ffffff;
$gray: #e5e4e4;
$tan: #e9e6db;
$blue: #55a7f7;
$yellow: #e4c649;